#Search{
    
    /*Search button goes here, free for editing*/
}

#trash{

    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    object-fit: contain;
    position: relative;
    top: 300px;

    
}

#trash img{
    height: 30px;
    width: auto;
}

/* this is the class 'button' if you add this class to any button it will have 
the same style as for example the trash button ie. no border */

.button{
    border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform 0.2s ease;
}

/* Here im adding a effect to the class button so when you hover over it */

.button:hover {
    transform: rotate(4deg) scale(1.06);
   
}

/* This is the effect when clicking on a button*/

.button:active{
    transform: rotate(-4deg) scale(.97);
   
}

h1{
    font-family:"Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

body {
    padding: 0px;
    font-family: Arial;
    background-color: #FFC904;
    width: 300px;
    height: 400px;
} 

#nameLogoContainer {
    
    width: 180px;
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    margin-left: -8px;
}
#nameLogo {

    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
