@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#searchBar{
    
    display: flex;
    align-items: center;
    background: #1E1E1E;
    border-radius: 8px;
    /*border: none;*/
    padding: 8px;
    box-shadow: 0px 4px 10px rgba(174, 173, 92, 0.3);
    position: absolute;
    width: 100%;
    max-width: 180px;
    
}

#searchBox{

    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 10px;

}

#searchBox input{

    z-index: 1;
    flex: 1;
    border: none;
    outline: none;
    /*background: none;*/
    color: #fff;
    font-size: 16px;
    padding: 10px;
    font-family: "Montserrat", serif;
}

#searchButton {

    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: relative;
    left: 210px;
    bottom: 2.5px;
}

#searchButton img{

    height: 30px;
    width: 30px;
}

#trash img{

    height: 35px;
    width: 35px;
}

#trash{

    height: 30px;
    width: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    object-fit: contain;
    position: absolute;
    left: 262px;
    top: 365px;
}

/* this is the class 'button' if you add this class to any button it will have 
the same style as for example the trash button ie. no border */

.button{
  width: 30px;
  height: 30px;  
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform 0.2s ease;
}

/* Here im adding a effect to the class button so when you hover over it */

.button:hover {
    transform: rotate(4deg) scale(1.06);
   
}

/* This is the effect when clicking on a button*/

.button:active{
    transform: rotate(-4deg) scale(.97);
   
}

h1{
    font-family:"Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

body {
    padding: 0px;
    font-family: Arial;
    background-color: #FFC904;
    width: 300px;
    height: 400px;
} 

#nameLogoContainer {
    
    width: 180px;
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    margin-left: -8px;
}
#nameLogo {

    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

#history{
    /*history*/
}

.backgroundTextBox{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    position: absolute;
    top: 100px;

    width: 300px;
    height: 250px;
    background: rgb(45, 47, 49);
    

}

.pages {

}